#openDialogButton {
  cursor: pointer;
}

#dialogBox::backdrop {
  opacity: 1;
  background-color: rgb(25, 25, 170);
  backdrop-filter: blur(5px);
}
#dialogBox {
  box-shadow: 5px 10px #888888;
  border-radius: 8px;
  border: none;
}
#dialogBox header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#signButton {
  background-color: red;
  border: none;
  color: white;
  padding: 12px 32px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#closeDialogFooter {
  background-color: gray;
  border: none;
  color: white;
  padding: 12px 32px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}