@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

*, *::before, *::after {
  box-sizing: border-box;
}

.content {
  height: 200vh;
  display: grid;
  place-items: center;
}

header {
  background: rgb(214 214 214 / .85);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.navbar {
  margin: 0;
  padding: 0;
}

.navbar a, .toolbar a {
    margin-bottom: 1em;
    margin-left: 1em;
    color: gray;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}
  
.navbar a:hover, .toolbar a:hover {
    color: #000;
}
  

header {
  display: grid;
  grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr auto 1fr;
}

nav {
  justify-content: flex-end;
  align-items: center;
  position: relative;
  display: flex;
}
.navbar, .toolbar{
  margin-top: 2rem;
}

.logo {
  grid-column: 2 / 3;
}

.toolbar {
  grid-column: 5 / 6;
}

.navbar {
  grid-column: 3 / 4;
}

.toolbar a{
  margin-left: .5em;
}

.navbar a {
  margin-left: 1em;
}