@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css');


body {
    background-color: white;
    color: black;
  }
  
.dark-mode {
    background-color: black;
    color: white;
}

.hide {
    display: none;
}