<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">

  <title>Responsive CSS Grid layout</title>
    
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css" />
  
  
</head>

<body translate="no">
  <ul role="list" class="grid">
  <li class="card">
    <h3>Lorem, ipsum.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </li>
  <li class="card">
    <h3>Minus, pariatur?</h3>
    <p>Veritatis optio illum possimus eveniet exercitationem perferendis ad?</p>
  </li>
  <li class="card">
    <h3>Iste, assumenda!</h3>
    <p>Esse minima in maiores similique unde eaque nostrum!</p>
  </li>
  <li class="card">
    <h3>Voluptatem, veritatis!</h3>
    <p>Provident deserunt veniam, debitis alias atque deleniti laboriosam!</p>
  </li>
  <li class="card">
    <h3>Accusamus, magnam.</h3>
    <p>Ipsum accusantium laboriosam, architecto cum dolor odit animi?</p>
  </li>
  <li class="card">
    <h3>Recusandae, placeat.</h3>
    <p>Incidunt, aliquid odit! Eaque nihil mollitia repellat beatae.</p>
  </li>
</ul>
  
</body>

</html>
