*, *::before, *::after {
    box-sizing: border-box;
}

table { 
    width: 50rem; 
    border-collapse: collapse; 
    margin:3rem auto;
}


th { 
} 

td, th { 
    
}

@media (max-width: 50rem) {
    table, thead, tbody, th, td, tr { 
    }
       
    thead tr { 
    }
      
    tr {}
      
    td { 

    } 
}
